.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem;
}

.navbar__right {
  display: flex;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
}

.navbar__list {
  display: flex;
  list-style: none;
}

.navbar__list li {
  margin-left: 5rem;
}

.navbar__list li a {
  font-size: 1.4rem;
}

.navbar__list li a:hover {
  text-decoration: underline;
}

.navbar__search {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 0.4rem;
  border-radius: 4px;
}

.navbar__search input {
  border: none;
  outline: none;
  font-size: 1.4rem;
}

.navbar__search-icon {
  color: #333;
  font-size: 1.2rem;
  cursor: pointer;
}

.navbar__account-icon {
  font-size: 1.2rem;
  cursor: pointer;
}
